<footer>
    <div class="f-info">
        <div class="copyright">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
        <a href="">Privacy</a>
        <a href="">Terms</a>
        <a href="" class="f-socials"><i class="fa-brands fa-facebook"></i></a>
        <a href="" class="f-socials"><i class="fa-brands fa-instagram"></i></a>
        <a href="" class="f-socials"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="" class="f-socials"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>